@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');
/* general rules */
:root {
	--main-green: #0e773f;
	--light-green: #006837;
	--main-spacing: 20px;
	--strip-color: #eef5f2;
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	line-height: 1.5;
	font-family: 'Roboto', sans-serif;
}
.slider {
    width: 100%;
    height: 510px;
    position: relative;
}

.slider img {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    /* transition: all 0.5s ease-in-out; */
}

.slider img:first-child {
    z-index: 1;
}

.slider img:nth-child(2) {
    z-index: 0;
}

.navigation-button {
    text-align: center;
    position: relative;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.active,
.dot:hover {
    background-color: #717171;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

h5 {
	color: var(--main-green);
	font-weight: 400;
	font-size: 1.1rem;
}

img {
	max-width: 100%;
}

header h2 {
	color: var(--main-green);
	font-size: 2.5rem;
	text-align: center;
	font-weight: 900;
	padding: 10px 0;
}

header h3 {
	color: var(--main-green);
	font-size: 2.0rem;
	font-weight: 700;
	padding: 10px 0;
}

header h4 {
	color: var(--main-green);
	font-weight: 400;
	text-align: center;
	font-size: 1.6rem;
	padding: 10px 20px;
}

ul,ol {
	list-style: none;
}

/* nav bar section rules*/
.navbar {
	background-color: white;
	position: sticky;
	top: 0;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 5px var(--main-spacing);
}

.logo {
	width: 65px;
	height: 50px;
}

.close-menu {
	display: none;
}

/* hides the expanded nav bar */
@media screen and (max-width: 1025px) {
	.nav-items {
		position: fixed;
		left: 0;
		top: 0;
		background-color: rgba(48,48,48,.97);
		width: calc(100vw - 65px);
		height: 100vh;
		overflow-y: scroll;
		padding: 20px 0 20px var(--main-spacing);
		transform: translateX(-1260px);
		transition: transform 0.2s ease-in-out;
	}

	.show {
		transform: translateX(0);
	}
	
	.close-menu {
		display: block;
		color: #c4c4c4;
		padding-bottom: 20px;
		cursor: pointer;
	}
	
	.nav-items > li > a {
		color: #c4c4c4;
		font-size: 1.5rem;
		font-weight: 600;
		text-transform: uppercase;
	}
	
	.nav-items > li > a:hover {
		color: white;
		text-decoration: line-through;
	}
	
	.nav-items > li:first-child > a {
		color: white;
		text-decoration: line-through;
	}
	
	.cta {
		display: inline-block;
		color: yellow;
		font-size: 0.9rem;
		border-radius: 25px;
		background-color: var(--main-green);
		padding: 8px 15px;
		font-weight: 600;
		margin: 15px 0;
	}
}


.menu {
	cursor: pointer;
}

/* header section rules*/
.header {
	background-color: var(--main-green);
	padding-top: 30px;
}

.banner1 {
	width: 100%;
	padding: 0 var(--main-spacing);
}

/* products section rules*/
.products {
	text-align: center;
	padding: 15px 0;
	padding: 30px var(--main-spacing);
}

.product-link {
	display: inline-block;
	width: 90%;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border: 2px solid var(--light-green);
	color: var(--light-green);
	font-weight: 500;
	font-size: 1.2rem;
	padding: 10px;
	margin: 10px 0;
	text-transform: uppercase;
	transition: background-color,color 0.5s ease-in-out;
}

.product-link:hover {
	background-color: var(--light-green);
	color: white;
}

.product-link.active {
	cursor: default;
}

.product-link.active:hover {
	color: var(--light-green);
	background-color: white;
}

.product-card {
	width: 80%;
	margin: 15px auto;
}

.product-description {
	padding: 10px 0 15px;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	box-shadow: 2px 5px 8px rgb(248, 248, 248),
				-2px 5px 10px rgb(242, 242, 232);
}

.product-card h4 {
	color: var(--main-green);
	padding: 10px 0;
}

p.price-range {
	color: var(--light-green);
}

/* features section rules */
.features {
	background-color: var(--strip-color);
	text-align: center;
	padding: 15px 0;
}

.features .container {
	padding: 0 var(--main-spacing);
}

.features-container {
	display: grid;
	grid-template-columns: 1fr;
}

.feature-box {
	margin: 15px 0 20px;
}

.feature-box h4 {
	color: var(--main-green);
	font-size: 1.2rem;
	font-weight: 700;
	padding: 15px 0;
}

.feature-box p {
	color: var(--light-green);
	font-size: 0.95rem;
	font-weight: 300;
}

/* showcase section rules */
.showcase {
	padding: 15px 0 100px;
}

.showcase-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0 var(--main-spacing);
}

.showcase-text {
	width: 100%;
}

.showcase-text h3 {
	font-size: 1.7rem;
	font-weight: 900;
	color: #003300;
}

.showcase-text p {
	color: var(--light-green);
	font-weight: 300;
	margin-bottom: 20px;
}

.showcase-container > img {
	display: none;
}

.btn {
	display: inline-block;
	padding: 12px 45px;
	border: 2px solid var(--main-green);
	color: green;
	font-weight: 400;
	background-color: white;
	border-radius: 25px;
	margin-top: 40px;
}

.btn:hover {
	color: white;
	background-color: var(--main-green);
}

/* watch stories section rules */
.watch-stories {
	background-color: var(--strip-color);
	text-align: center;
}

.watch-stories > .container {
	padding: 15px var(--main-spacing);
}

.youtube-container > div:last-child {
	display: none;
}

.watch-stories p,
.watch-stories a {
	color: var(--main-green);
	font-weight: 300;
	margin: 10px 0;
}

.watch-stories a {
	font-size: 1.5rem;
}

.watch-stories a:hover {
	text-decoration: underline;
}

/* press section rules */
.press {
	text-align: center;
	padding: 50px 20px 8px; 
}

.logos-container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
}

/* sleep lab section rules */
.sleep-lab {
	background: url("images/Mask-Group-1.png"),
					#c2fbc8;
	background-size: cover;
	background-repeat: no-repeat;
}

.sleep-lab h2 {
	font-size: 5.0rem;
}

.four-cols-container {
	display: grid;
	grid-template-columns: 1fr;
	padding: 15px var(--main-spacing);
}

.card-container {
	margin: 15px 0;
	border-radius: 25px;
	border: 1px solid white;
	box-shadow: 2px 5px 8px rgb(248, 248, 248),
				-2px 5px 10px rgb(242, 242, 232);
}

.card-container > img {
	width: 100%;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	margin-bottom: -8px;
}

.card-description {
	background-color: white;
	padding: 12px 20px;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
}

.card-description p {
	padding: 0 0 5px;
	font-size: 0.75rem;
}

.card-description time {
	color: #bfbfbf;
}

.pagination {
	padding: 20px 0 30px;
}

.pagination li {
	text-decoration: underline;
	margin-left: 15px;
}

/* footer section rules */
footer {
	background-color: var(--main-green);
	padding: 35px var(--main-spacing);
}

footer h2 {
	color: yellow;
	padding: 20px 0;
}

footer li,
footer li > a {
	color: white;
	font-size: 0.9rem;
	font-weight: 500;
}

i.fa-arrow-up {
	display: none;
	position: fixed;
	bottom: 80px;
	right: 50px;
	color: #bfbfbf;
	padding: 15px;
	border-radius: 50%;
	border: 1px solid #bfbfbf;
}

i.fa-arrow-up:hover {
	color: white;
}

hr {
	border-width: 0;
	border-top: 1px solid #c4c4c4;
}

/* copyright section rules */
.copyright {
	font-size: 0.9rem;
	font-weight: 500;
	color: white;
	background-color: var(--main-green);
	padding: 20px var(--main-spacing);
}

.space-between {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* media query for iframe when it is screen width less than 433px */
@media (max-width: 433px) {
	iframe {
		width: 100%;
	}
}

@media (min-width: 770px) {
	.four-cols-container {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-gap: 20px;
		align-items: start;
	}
	
	.features-container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 50px;
	}
	
	.feature-box {
		padding: 0 25px;
	}
	
	.logos-container {
		flex-direction: row;
		padding-top: 50px;
		padding-bottom: 50px;
		justify-content: space-between;
		align-items: flex-start;
	}
	
	.logos-container > img {
		width: 20%;
	}
}

@media (min-width: 1000px) {
	.one-col-container {
		display: flex;
		flex-flow: column nowrap;
		padding: 10px 0;
	}
	
	.product-links {
		order: -1;
	}
	
	.product-link.active {
		text-decoration: underline;
		color: var(--main-green);
	}
	
	.product-link {
		display: inline;
		border-radius: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-o-border-radius: 0;
		border: none;
		color: #c4c4c4;
		font-weight: 400;
		font-size: 1.2rem;
		padding: 10px;
		margin: 10px 35px;
		text-transform: uppercase;
	}
	
	.product-card-container {
		display: flex;
		justify-content: center;
	}
	
	.product-card {
		width: 20%;
		margin: 25px 40px;
	}
	
	.product-link:hover {
		background-color: initial;
		color: initial;
	}
	
	footer {
		display: flex;
		flex-flow: row nowrap;
		padding-left: 5%;
		padding-right: 5%;
	}
	
	footer > div {
		flex-basis: 50%; 
	}
	
	.space-between {
		flex-direction: row;
	}
	
	.showcase-text {
		width: 50%;
		padding: 25px 0;
	}
	
	.showcase-text p {
		padding: 0 200px 0 10px;
		margin-top: 20px;
	}
	
	.showcase-container > img {
		display: block;
		width: 50%;
		border-radius: 20px;
	}
	
	.youtube-container {
		display: flex;
		justify-content: space-around;
	}
	
	.youtube-container > div:last-child {
		display: block;
	}
}

@media (min-width: 1025px) {
	.nav-items {
		margin: 0 0 0 90px;
		flex-grow: 1;
		display: flex;
		justify-content: space-between;
	}
	
	.nav-items > li > a {
		color: #333;
		font-size: 0.9rem;
		font-weight: 600;
		text-transform: uppercase;
	}
	
	.nav-items > li:first-child > a {
		padding-bottom: 5px;
		border-bottom: 2px solid #333;
	}
	
	.cta {
		display: inline-block;
		color: yellow;
		font-size: 0.9rem;
		border-radius: 25px;
		background-color: var(--main-green);
		padding: 8px 15px;
		font-weight: 600;
	}
	
	.menu {
		display: none;
	}
}